body {
    margin: 0;
    padding: 0;
    background-color: rgb(228, 225, 225);
    font-family:Georgia, 'Times New Roman', Times, serif;
}


header {
    height: 50vh;
    background-image: url(./img/accueil/movie_stills_come_to_life_in_these_captivating_cinemagraphs_27.gif);
    background-size: cover;
}
.navbar {
    border-radius: 0 0 5px 5px;
    opacity: 60%;
}
.logo {
    width: 8%;
}
.nav-link:hover , .dropdown-item:hover{
    color: red !important;
}

h1 ,h2 ,h3 {
    color: rgba(0,175,244);
}

.zone {
    list-style: none;
}

.card {
    width: 45%;
}
.card:hover {
    background-color: rgba(0,175,244) !important;
    color: white !important;
}
.card:hover > h3 , .card:hover > h2{
    color: white;
}


.pict {
    background-image: url(./img/accueil/auto.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 2px black solid;
    width: 100%;
    height: 60vh;
}
.permis {
    width: 50%;
    height: 100%;
}

.partenaire {
    height: 40vh;
    display: flex;
    align-items: center;
}
.acc {
    width: 32%;
}

footer {
    color: white;
}
.reso {
    width: 10%;
}


@media screen and (max-width: 800px) {
    section {
        flex-direction: column;
    }
    
    .pourcent{
        flex-direction: column;
    }
    
    .card {
        width: 100%;
    }

    .comment > article > .w-50 {
        width: 80% !important;
        margin-bottom: 5%;
    }
    .comment > article {
        flex-direction: column;
    }
    .comment > article > .pe-5 , .ps-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0% !important;
    }

    .acc {
        width: 100%;
    }

    footer > section > .w-25 {
        margin: auto;
        width: 75% !important;
    }

}